@model EligibilityCheckReportViewModel
@{
    ViewData["Title"] = "Generate a report";
}

<div class="govuk-grid-column-full">
    <a class="govuk-back-link backLinkJS" href="@Url.Action("Index", "Home")">Back</a>

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
    <p>Generate a report showing the checks carried out using this service and the outcome of each check.</p>
    <p>Select a date range for the report:</p>

    @if (!ViewData.ModelState.IsValid)
    {
        <partial name="_ValidationSummaryReport"
                 model="ViewData.ModelState"
                 view-data="ViewData" />
    }

    <form asp-action="Create_Report" method="post">
        
        <div class="govuk-form-group">
            <label class="govuk-label govuk-fieldset__legend--m" for="date-select">
                Date range
            </label>

            <select class="govuk-select" asp-for="DateRange" >
                <option value="30-days" selected="">Last 30 days</option>
            </select>
        </div>

        <p>Select the check types you want to include in the report.</p>

        <div class="govuk-form-group">
            <label class="govuk-label govuk-fieldset__legend--m" asp-for="CheckType">
                Check type
            </label>

            <select class="govuk-select" asp-for="CheckType">
                <option value="AllChecks">All checks</option>
                <option value="IndividualChecks">Individual checks</option>
                <option value="BulkChecks">Batch checks</option>
            </select>
        </div>

        <button class="govuk-button">Generate report</button>
    </form>
</div>