trigger:
  - main
    
pr: none

pool:
  name: Azure Pipelines
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  #Environment specific variables such as resource names are defined in Azure DevOps UI

stages:
## -- Build App Stage -- ##
  - template: templates/build-app-template.yml
    parameters:
      stageName: 'BuildApp'
      displayName: 'Build App'
## -- Build App Stage -- ##

## -- Deploy app dev -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppDev'
      displayName: 'Deploy App Dev'
      deploymentName: 'devdeploy'
      environment: 'DEV'
      azureSubscription: $(subscriptionDev)
      webAppName: '$(webAppNameDev)'
## -- Deploy app dev -- ##

## -- Run cypress tests on dev env -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsDevEnv'
      displayName: 'Run Cypress Tests On Dev Env'
      jobName: 'SetUpCypressDevEnv'
      jobDisplayName: 'SetUpTestsDevEnv'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_DEV)'
## -- Run Cypress Tests On Dev Env -- ##

## -- Deploy app test -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppTest'
      displayName: 'Deploy App Test'
      deploymentName: 'testdeploy'
      environment: 'TEST'
      azureSubscription: $(subscriptionTest)
      webAppName: $(webAppNameTest)
## -- Deploy app test -- ##

## -- Run cypress tests on test env -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsTestEnv'
      displayName: 'Run Cypress Tests On Test Env'
      jobName: 'SetUpCypressTestEnv'
      jobDisplayName: 'SetUpTestsTestEnv'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_TEST)'
## -- Run Cypress Tests On Test Env -- ##

## -- Deploy app pre-prod -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppPP'
      displayName: 'Deploy App Pre-prod'
      deploymentName: 'ppdeploy'
      environment: 'PRE-PROD'
      azureSubscription: $(subscriptionPreProd)
      webAppName: $(webAppNamePreProd)
## -- Deploy app pre-prod -- ##

## -- Run cypress tests on pre-prod env -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsPpEnv'
      displayName: 'Run Cypress Tests On Pre-Prod Env'
      jobName: 'SetUpCypressPpEnv'
      jobDisplayName: 'SetUpTestsPpEnv'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_PP)'
## -- Run cypress tests on pre-prod env -- ##

## -- Deploy app prod -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppProd'
      displayName: 'Deploy App Production'
      deploymentName: 'proddeploy'
      environment: 'PROD'
      azureSubscription: $(subscriptionProd)
      webAppName: $(webAppNameProd)
## -- Deploy app prod -- ##
