trigger:
  - main
    
pr: none

pool:
  name: Azure Pipelines
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
## -- Build app -- ##
  - template: templates/build-app-template.yml
    parameters:
      stageName: 'BuildApp'
      displayName: 'Build App'
## -- Build app -- ##

## -- Deploy app dev -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppDev'
      displayName: 'Deploy App Dev'
      deploymentName: 'devdeploy'
      environment: 'DEV'
      azureSubscription: 's203d.azdo.deployment'
      webAppName: 'ece-dev-as-free-school-meals-parent'
## -- Deploy app dev -- ##

## -- Run cypress tests dev -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsDevEnv'
      displayName: 'Run Cypress Tests On Dev Env'
      jobName: 'SetUpCypressDevEnv'
      jobDisplayName: 'SetUpTestsDevEnv'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_DEV)'
## -- Run cypress tests dev -- ##

## -- Deploy app test -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppTest'
      displayName: 'Deploy App Test'
      deploymentName: 'testdeploy'
      environment: 'TEST'
      azureSubscription: 's203t.azdo.deployment'
      webAppName: 'ece-test-as-free-school-meals-parent'
## -- Deploy app test -- ##

## -- Run cypress tests test -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsTestEnv'
      displayName: 'Run Cypress Tests On Test Env'
      jobName: 'SetUpCypressTestEnv'
      jobDisplayName: 'SetUpTestsTestEnv'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_TEST)'
## -- Run cypress tests test -- ##

## -- Deploy app pre-prod -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppPP'
      displayName: 'Deploy App Pre-prod'
      deploymentName: 'ppdeploy'
      environment: 'PRE-PROD'
      azureSubscription: 's203t.azdo.deployment'
      webAppName: 'ece-pp-as-free-school-meals-parent'
## -- Deploy app pre-prod -- ##

## -- Run cypress tests pre-prod -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsPpEnv'
      displayName: 'Run Cypress Tests On Pre-Prod Env'
      jobName: 'SetUpCypressPpEnv'
      jobDisplayName: 'SetUpTestsPpEnv'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_PP)'
## -- Run cypress tests pre-prod -- ##

## -- Deploy app production -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppProd'
      displayName: 'Deploy App Production'
      deploymentName: 'deploy'
      environment: 'PROD'
      azureSubscription: 's203p.azdo.deployment'
      webAppName: 'ece-as-free-school-meals-parent'
## -- Deploy app production -- ##
