trigger:
  - main
    
pr: none

pool:
  name: Azure Pipelines
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
## -- Build app -- ##
  - template: templates/build-app-template.yml
    parameters:
      stageName: 'BuildApp'
      displayName: 'Build App'
## -- Build app -- ##

## -- Deploy app dev -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppDev'
      displayName: 'Deploy App Dev'
      deploymentName: 'devdeploy'
      environment: 'DEV'
      azureSubscription: 's203d.azdo.deployment'
      webAppName: 'ece-dev-as-free-school-meals-parent'
## -- Deploy app dev -- ##

## -- Run cypress tests dev -- ##
  - template: templates/run-cypress-tests-template.yml
    parameters:
      stageName: 'RunCypressTestsDevEnv'
      displayName: 'Run Cypress Tests On Dev Env'
      jobName: 'SetUpCypressDevEnv'
      jobDisplayName: 'SetUpTestsDevEnv'
      CYPRESS_BASE_URL: '$(CYPRESS_BASE_URL_DEV)'
## -- Run cypress tests dev -- ##

## -- Deploy app test -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppTest'
      displayName: 'Deploy App Test'
      deploymentName: 'testdeploy'
      environment: 'TEST'
      azureSubscription: 's203t.azdo.deployment'
      webAppName: 'ece-test-as-free-school-meals-parent'
## -- Deploy app test -- ##

  - stage: RunCypressTestsTestEnv
    displayName: Run Cypress Tests On Test Env
    jobs:
    - job: 'SetUpCypressTestEnv'
      displayName: 'SetUpTestsTestEnv'
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Bash@3
        inputs:
          targetType: inline
          script: |
           cd tests
           npm install
      - task: Bash@3
        displayName: 'RunTests'
        inputs:
         targetType: inline
         script: |
          cd tests
          export CYPRESS_BASE_URL="$(CYPRESS_BASE_URL_TEST)"
          export CYPRESS_AUTHORIZATION_HEADER="$(AUTHORIZATION_HEADER)"
          export CYPRESS_AUTH_USERNAME="$(AUTH_USERNAME)"
          export CYPRESS_AUTH_PASSWORD="$(AUTH_PASSWORD)"
          export CYPRESS_ONEGOV_EMAIL="$(ONEGOV_EMAIL)"
          export CYPRESS_ONEGOV_PASSWORD="$(ONEGOV_PASSWORD)"
          npm run parentE2e:electron
      - task: Bash@3
        condition: always()
        displayName: 'Generate report'
        inputs:
         targetType: inline
         script: |
          cd tests
          npm run combine:reports
      - task: PublishBuildArtifacts@1
        displayName: 'Publish Cypress Screenshot Files'
        condition: failed()
        inputs:
          PathtoPublish: 'tests/cypress/screenshots/'
          ArtifactName: 'screenshots'
      - task: PublishTestResults@2
        condition: always()
        displayName: 'Publish test results'
        inputs:
         testResultsFiles: '**/combined-report.xml'
         searchFolder: 'tests'

## -- Deploy app pre-prod -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppPP'
      displayName: 'Deploy App Pre-prod'
      deploymentName: 'ppdeploy'
      environment: 'PRE-PROD'
      azureSubscription: 's203t.azdo.deployment'
      webAppName: 'ece-pp-as-free-school-meals-parent'
## -- Deploy app pre-prod -- ##

  - stage: RunCypressTestsPpEnv
    displayName: Run Cypress Tests On Pre-Prod Env
    jobs:
      - job: 'SetUpCypressPpEnv'
        displayName: 'SetUpTestsPpEnv'
        pool:
          vmImage: ubuntu-latest
        steps:
          - task: Bash@3
            inputs:
              targetType: inline
              script: |
                cd tests
                npm install
          - task: Bash@3
            displayName: 'RunTests'
            inputs:
              targetType: inline
              script: |
                cd tests
                export CYPRESS_BASE_URL="$(CYPRESS_BASE_URL_PP)"
                export CYPRESS_AUTHORIZATION_HEADER="$(AUTHORIZATION_HEADER)"
                export CYPRESS_AUTH_USERNAME="$(AUTH_USERNAME)"
                export CYPRESS_AUTH_PASSWORD="$(AUTH_PASSWORD)"
                export CYPRESS_ONEGOV_EMAIL="$(ONEGOV_EMAIL)"
                export CYPRESS_ONEGOV_PASSWORD="$(ONEGOV_PASSWORD)"
                npm run parentE2e:electron
          - task: Bash@3
            condition: always()
            displayName: 'Generate report'
            inputs:
              targetType: inline
              script: |
                cd tests
                npm run combine:reports
          - task: PublishBuildArtifacts@1
            displayName: 'Publish Cypress Screenshot Files'
            condition: failed()
            inputs:
              PathtoPublish: 'tests/cypress/screenshots/'
              ArtifactName: 'screenshots'
          - task: PublishTestResults@2
            condition: always()
            displayName: 'Publish test results'
            inputs:
              testResultsFiles: '**/combined-report.xml'
              searchFolder: 'tests'

## -- Deploy app production -- ##
  - template: templates/deploy-app-template.yml
    parameters:
      stageName: 'DeployAppProd'
      displayName: 'Deploy App Production'
      deploymentName: 'deploy'
      environment: 'PROD'
      azureSubscription: 's203p.azdo.deployment'
      webAppName: 'ece-as-free-school-meals-parent'
## -- Deploy app production -- ##
