@using CheckYourEligibility.Admin.Gateways.Interfaces
@using CheckYourEligibility.Admin.Infrastructure
@inject IHttpContextAccessor _httpContext
@inject IMenuProvider MenuProvider

@{
    ViewData["Title"] = "Dashboard";
    var menu = MenuProvider.GetMenuItemsFor(ViewBag.Claims);
}

<div class="govuk-grid-column-full">
    <a class="govuk-back-link-nolink"></a>

    @if (!ViewData.ModelState.IsValid)
    {
        ViewData["Title"] = "Error: Check Details";
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
    }

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-l">@Model.Organisation.Name</span>
            <h1 class="govuk-heading-l">Manage eligibility for free school meals</h1>

            <div class="dfe-grid-container">
                @foreach (var item in menu)
                {
                    if (item.UrlView == "")
                    {
                        continue; //Don't show a 'Home' Dashboard tile
                    }
                    <div class="dfe-card">
                        <div class="dfe-card-container">
                            <h2 class="govuk-heading-m">
                                <a class="govuk-link govuk-link--no-visited-state dfe-card-link--header" href="/@item.UrlController/@item.UrlView">@item.TileText</a>
                            </h2>
                            <p>@item.TileSubText</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="/js/validationSummary.js"></script>
