@{
    ViewData["Title"] = "Before you upload your appeal evidence";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link-nolink"></a>

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <form asp-controller="Check" asp-action="UploadEvidence" method="get">
        <p class="govuk-body">It is important that your evidence can be read by our system or it will be rejected. </p>
        <p class="govuk-body">On each piece of evidence, make sure:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>all the text can be read easily</li>
            <li>it is on 1 page with your contact details visibile</li>
            <li>the benefit or amount you earn is visible</li>
            <li>your National Insurance number is visible</li>
            <li>the whole statement or letter is visible including all four corners</li>
        </ul>

        <img alt="Two Universal credit statements; one incorrect only showing part of the statement which does not include the correct information, and the other correctly showing the whole statement."
             class="evidence-image"
             src="~/images/UC_example_evidence.png">

        <button class="govuk-button" data-module="govuk-button">
            Continue to upload
        </button>
    </form>
</div>

<script src="/js/validationSummary.js"></script>