@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout_StartNow.cshtml";
    ViewData["Title"] = "Check if your children can get free school meals";
    // var url = UriHelper.GetDisplayUrl(HttpContextAccessor.HttpContext.Request);
    // url = url.Replace("as", "as-admin");
}

<div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                <p class="govuk-body">Here you can:</p>
                <ul class="govuk-list--bullet">
                    <li> enter a few details to find out if your children can get free school meals</li>
                    <li> send the decision to your children’s school, college, nursery or childcare setting</li>
                </ul>

                <p class="govuk-body">It should take about 5 minutes to run a check.</p>

                <h2 class="govuk-heading-l">Before you start</h2>

                <p class="govuk-body">You will need:</p>

                <ul class="govuk-list--bullet">
                    <li>a National Insurance number or asylum support reference number (previously NASS reference number)</li>
                    <li>to use or create a GOV.UK One Login</li>
                    <li>details of the children you're applying for, including the name of their school</li>
                </ul>

                <p class="govuk-body">You may also need supporting evidence for your application.</p>
                <p class="govuk-body">See <a href="@Url.Action("Parental_Guidance", "Home")">more detailed guidance on eligibility for free school meals</a>.</p>

                <h2 class="govuk-heading-l">If you cannot apply online</h2>
                <p class="govuk-body">Fill in the <a href="@Url.Action("fsm_print_version", "Home")">free school meals entitlement checker form</a> and give it to your children's school. </p>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break">

                <a asp-controller="Home" asp-action="SchoolList" role="button" class="govuk-button govuk-button--start"
                   data-module="govuk-button">
                    Start now
                    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                         viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                    </svg>
                </a>
            </div>
        </div>
    </main>
</div>