@model CheckYourEligibility.FrontEnd.ViewModels.SchoolListViewModel
@{
    ViewData["Title"] = "Find out if a school is included";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link backLinkJS" href="@Url.Action("Index", "Home")">Back</a>

    @if (!ViewData.ModelState.IsValid)
    {
        ViewData["Title"] = "Error: Find out if a school is included";
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
    }

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                Not all schools are included in this test service.
            </p>
            <p class="govuk-body">This is a new service that is being tested with a small selection of schools.</p>

        </div>
    </div>

    <h1 class="govuk-heading-l">@ViewData["Title"]</h1>

    <p class="govuk-body">Use the school picker to see if your child's school is included in the test service.</p>

    <form asp-controller="Home" asp-action="SchoolList" method="post" novalidate>
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="school-list-search">
                Search schools
            </label>

            <p class="govuk-error-message">
                <span asp-validation-for="SelectedSchoolURN"></span>
            </p>

            <input id="school-list-search"
                class="govuk-input school-list-search @(ViewData.ModelState["SelectedSchoolURN"]?.Errors.Count > 0 ? "govuk-input--error" : "")"
                type="text" autocomplete="off" aria-label="School Search" />

            <input type="hidden" asp-for="SelectedSchoolURN" id="SelectedSchoolURN" />
            <input type="hidden" asp-for="SelectedSchoolName" id="SelectedSchoolName" />
            <input type="hidden" asp-for="SelectedSchoolLA" id="SelectedSchoolLA" />
            <input type="hidden" asp-for="SelectedSchoolPostcode" id="SelectedSchoolPostcode" />
            <input type="hidden" asp-for="SelectedSchoolInPrivateBeta" id="SelectedSchoolInPrivateBeta" />

            <ul id="schoolListResults" class="govuk-!-width-two-thirds"></ul>
        </div>


        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

    </form>
</div>

<script src="/js/schoolListSearch.js"></script>