@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Send supporting evidence";
}

<div class="govuk-grid-column-two-thirds">
    <a class="govuk-back-link" href="@Url.Action("Index", "Home")" onclick="history.back(); return false;">Back</a>
    @* <a class="govuk-back-link-nolink"></a> *@

    <h1 class="govuk-heading-l govuk-!-margin-bottom-4">@ViewData["Title"]</h1>

    <p class="govuk-body">Your local authority will need to see supporting evidence for this application.</p>
    <p>Upload the evidence here or send copies by email later.</p>
    <p>View <a href="#" class="govuk-link">guidance about supporting evidence (opens in a new window)</a>.</p>

    <form action="../appeal/appeal-check-answers-evidence" method="post" enctype="multipart/form-data">
        <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
                Upload a file
            </label>
            <div class="govuk-drop-zone" data-module="govuk-file-upload">
                <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file" multiple>
            </div>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Attach evidence
        </button>

        <p class="govuk-body"><a href="#" class="govuk-link">Send by email later</a></p>
    </form>
</div>